@import "../../node_modules/materialize-css/sass/materialize.scss";

div {
    width: 100%;
    padding: 1em;
}

.boxes {
    min-width: 75%;
    min-height: 5em;

    .box1 {
        border: 5px solid aqua;

        .box2 {
            border: 5px solid burlywood;

            .box3 {
                border: 5px solid brown;
            }
        }
    }
}

.next {
    width: 100%;
}

#details {
    ul {
        li {
            strong {
                margin-right: .5em;
            }
        }
    }
}
